Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Đảm bảo có [L,QSA] ở cuối để nối các tham số tìm kiếm vào URL
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]